@import url("https://fonts.googleapis.com/css2?family=Crimson+Pro:wght@300;500;700&family=Montserrat:wght@100;300;500;700;800;900&display=swap");

* {
  font-family: "Crimson Pro", serif;
  font-weight: 300;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: black;
  position: relative;
  height: auto;
  min-height: 100% !important;
}

#content {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

header {
  position: fixed;
  padding: 0.5rem 1rem;
  background-color: black;
  display: flex;
  max-height: 4rem;
  justify-content: center;
}

header div {
  flex: 1;
}

main {
  height: 100%;
  overflow: auto;
  color: white;
  margin-top: 4rem;
  padding: 2rem;
  background-image: url("../img/casa_background.jpeg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  text-align: center;
  text-shadow: black 1px 1px;
}

main h1 {
  font-weight: bold;
}

main p {
  margin-top: 1rem;
}

footer {
  height: 3rem;
  font-size: 1rem;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

img {
  height: 100%;
  width: auto;
  max-width: 100%;
}

a {
  text-decoration: none;
  color: white;
  height: 2rem;
  width: 4rem;
  font-size: 1.5rem;
}

.header-main {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-menu {
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 0.5rem;
}

.burger {
  position: relative;
  background-color: black;
  padding: 0.1rem 0.5rem;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  gap: 0.25rem;
  height: 2rem;
  cursor: pointer;
}

.patty {
  background-color: white;
  width: 2rem;
  border-radius: 8px;
}

.burger-menu {
  position: absolute;
  left: -211%;
  bottom: -4rem;
  background-color: black;
  height: 3rem;
  width: 100vw;
  display: none;
}

.active {
  background-color: black;
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 2px;
}
